.One
{
	width:30%;
	float: left;
	margin-left:2%;
	padding:8px;
}
.Two
{
	width:30%;
	float:left;
	margin-left:2%;
	padding:8px;
}
.Three
{

	width:30%;
	float: left;
	margin-left:2%;
	padding:8px;

}
.Four{
	width: 30%;
	float: left;
	padding: 8px;
	
}
.Five{
	width: 30%;
	float: left;
	padding: 8px;

}
.Six{
	width: 30%;
	float: left;
	padding: 8px;
}

.Seven{
	width: 40%;
	margin-left:12%;
	float: left;
}
.Eight{
	width: 40%;
	padding:2px;
	float:left;
}
